@import url('//fonts.googleapis.com/css?family=PT+Sans&display=swap');

h4, h3, h2, h1, p, div, a { 
    font-family: 'PT Sans', sans-serif;
}

.errors {
    margin-bottom: 0;
    padding-left: 16px;
}

.table > tbody > tr:first-child > td {
    border-top: none!important;
}

.table {
    margin-bottom: 0;
}

.card-table {
    padding-bottom: 0;
    padding-top: 0;
}

.file-list {
    width:100%;
    margin-top:20px;
}

.file-list td {
    padding-bottom:5px;
}

[v-cloak] { 
    display:none; 
}

.inline-fields input {
    float: left;
    margin-right: 10px;
}

.inline-fields::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    padding-bottom: 20px;
}

table.devices thead td {
    border-top: none;
}

td .badge {
    margin-right: 4px;
}

.no-border {
    border: none !important;
}

._loading_overlay_wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;       
}

._loading_overlay_overlay {
    background: rgba(0, 0, 0, 0.002)!important; 
}

._loading_overlay_content {
    color: black !important;
}

._loading_overlay_content circle {
    stroke: black !important;
}